@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(224 226 241 / 10%);
}

.container {
  padding: 0 30px;
}

#navbar {
  height: 60px;
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(99, 99, 223);
  color: white;
  font-size: 2rem;
}

/*-----------------
ADD/CLOSE FORM BUTTON
-------------------*/

.btn-container {
  display: flex;
  justify-content: center;
}

.show-modal {
  width: 100px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid;
  background: rgb(102, 102, 230);
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}
 
/*-----------------
FORM
-------------------*/

#add-card-form {
  /* height: 350px; */
  width: 300px;
  border: 1px solid rgb(221, 197, 197);
  border-radius: 5px;
  padding: 30px;
  margin: 0 auto;
  background: white;
  box-shadow: 2px 2px 2px 1px rgb(210, 194, 194);
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.form-control {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: 600;
}

.form-control input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(185, 156, 156);
  margin-top: 5px;
  padding-left: 5px;
}

.form-control textarea {
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgb(185, 156, 156);
  padding-left: 5px;
}

#save-btn, #close-btn {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

#save-btn {
  margin-top: 20px;
  background: rgb(102, 102, 230);
  color: white;
  font-weight: 600;
}

#close-btn {
  background: rgb(102, 102, 230);
  color: white;
  font-weight: 600;
}

#save-btn:hover, #close-btn:hover, .show-modal:hover {
  background: rgb(71, 71, 231);
  cursor: pointer;
}

#error-message {
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 5px;
  background: rgba(255, 0, 0, 0.203);
  font-size: 0.8rem;
  color: rgb(224, 63, 63);
}

/*-----------------
CARD CONTAINER
-------------------*/

/* Using Grid */

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  max-width: 1400px;
  margin: 40px auto;
  gap: 20px;
}

/*-----------------
CARD
-------------------*/

.card {
  height: 280px;
  /* width: 350px; */
  border: 1px solid rgb(221, 197, 197);;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  border: 1px solid #635666;
  padding: 15px 20px;
  box-shadow: 2px 2px 2px 1px rgb(210, 194, 194);
}

.cardHeader {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.showAnswer {
  font-size: 0.9rem;
}

.showAnswer:hover, i:hover {
  color: rgb(20, 44, 228);
  cursor: pointer;
}


.top-icons {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-icons {
  display: flex;
  gap: 10px;
}

i:hover {
  font-size: 1.5rem;
}

.fa-circle-check {
  color: rgb(122, 122, 233);
}

.fa-solid.fa-star {
  color: rgb(222, 230, 79);
}

.cardBottom {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.date {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.41);
}

p {
  text-align: center;
}

.answer {
  color: rgb(101, 101, 228);
}

/*-----------------
CARD (EDITING)
-------------------*/

.cardHeader {
  font-size: initial;
}

.cardHeader.editing {
  font-size: initial;
}

.cardHeader.editing div {
  display: flex;
  gap: 15px;
}

.form-control.editing {
  margin: 0;
  width: 100%;
}

.questions, .answers {
  width: 100%;
}

input.answers {
  height: 100px;
}

.finish-editing:hover {
  color: rgb(20, 44, 228);
  cursor: pointer;
}

.cardBottom.editing {
  /* margin-top: 10px; */
  font-size: 1.3rem;
  /* display: flex; */
  /* justify-content: flex-start; */
}

.bottom-icons.editing span {
  height: 25px;
}

/*-----------------
CARD (EDITING)
-------------------*/

#sign-in {
  max-width: 300px;
  height: 380px;
  margin: 60px auto;
  border: 1px solid rgb(221, 197, 197);
  border-radius: 5px;
  padding: 30px;
  background: white;
  box-shadow: 2px 2px 2px 1px rgb(210, 194, 194);
  /* display: flex;
  flex-direction: column; */
}

#sign-in h1 {
  text-align: center;
  margin-bottom: 20px;
}

#sign-in-form {
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#sign-in-form .form-control {
  margin: 0;
}


#sign-in-form input {
  height: 40px;
  font-weight: 300;

}
#sign-in-form input[type="text"],
#sign-in-form input[type="password"] {
  font-size: 1.1rem;
}

#sign-in-form button {
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  background: rgb(99, 99, 223);
  color: white;
}

#sign-in-form button:hover {
  cursor: pointer;
  background: rgb(71, 71, 231);
}

#copyright {
  margin-top: 50px;
  text-align: center;
  font-weight: 300;
}