@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(224 226 241 / 10%);
}

.container {
  padding: 0 30px;
}

#welcome {
  text-align: center;
  font-size: 4rem;
}

/*-----------------
NAVBAR
-------------------*/

.logo a {
  text-decoration: none;
  color: white;
}

#navbar {
  height: 60px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5585b5;
  font-size: 2rem;
}

.login-logout {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: #eaf6f6;
}

button a {
  color: black;
  text-decoration: none;
}

.nav-btn:hover {
  cursor: pointer;
  background: rgb(221, 207, 207);
}

#user {
  font-size: 1.2rem;
  margin-right: 20px;
  color: white;
}


/*-----------------
ADD/CLOSE FORM BUTTON
-------------------*/

.btn-container {
  display: flex;
  justify-content: center;
}

.show-modal {
  width: 100px;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid;
  background: #5585b5;
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
 
/*-----------------
FORM
-------------------*/

#add-card-form {
  /* height: 350px; */
  width: 300px;
  border: 1px solid rgb(221, 197, 197);
  border-radius: 5px;
  padding: 30px;
  margin: 0 auto;
  background: white;
  box-shadow: 2px 2px 2px 1px rgb(210, 194, 194);
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.form-control {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: 600;
}

.form-control input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(185, 156, 156);
  margin-top: 5px;
  padding-left: 5px;
}

.form-control textarea {
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid rgb(185, 156, 156);
  padding-left: 5px;
}

#save-btn, #close-btn {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background: #5585b5;
  color: white;
  font-weight: 600;
}

#save-btn {
  margin-top: 20px;
}

#save-btn:hover, #close-btn:hover, .show-modal:hover {
  background: #005792;
  cursor: pointer;
}


/*-----------------
CARD CONTAINER
-------------------*/

/* Using Grid */

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  max-width: 1400px;
  margin: 40px auto;
  gap: 20px;
}

/*-----------------
CARD
-------------------*/

.card {
  height: 280px;
  /* width: 350px; */
  border: 1px solid rgb(221, 197, 197);;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:#fcfefe;
  border: 1px solid #635666;
  padding: 15px 20px;
  box-shadow: 2px 2px 2px 1px rgb(210, 194, 194);
}

.cardHeader {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.showAnswer {
  font-size: 0.9rem;
}

.showAnswer:hover, i:hover {
  color: rgb(20, 44, 228);
  cursor: pointer;
}


.top-icons {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-icons {
  display: flex;
  gap: 10px;
}

i:hover {
  font-size: 1.5rem;
}

.fa-circle-check {
  color: rgb(122, 122, 233);
}

.fa-solid.fa-star {
  color: rgb(222, 230, 79);
}

.cardBottom {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.date {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.41);
}

p {
  text-align: center;
}

.answer {
  color: rgb(101, 101, 228);
}

/*-----------------
CARD (EDITING)
-------------------*/

.cardHeader {
  font-size: initial;
}

.cardHeader.editing {
  font-size: initial;
}

.cardHeader.editing div {
  display: flex;
  gap: 15px;
}

.form-control.editing {
  margin: 0;
  width: 100%;
}

.questions, .answers {
  width: 100%;
}

input.answers {
  height: 100px;
}

.finish-editing:hover {
  color: rgb(20, 44, 228);
  cursor: pointer;
}

.cardBottom.editing {
  /* margin-top: 10px; */
  font-size: 1.3rem;
  /* display: flex; */
  /* justify-content: flex-start; */
}

.bottom-icons.editing span {
  height: 25px;
}

/*-----------------
REGISTER / SIGIN FORM
-------------------*/

.form .name {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form .form-control {
  margin: 0;
}

.form label::after {
  content: '*';
}

.form input {
  height: 40px;
  font-weight: 300;

}
.form input[type="text"],
.form input[type="password"] {
  font-size: 1.1rem;
}

.form button {
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
  background: #5585b5;
  color: white;
}

.form button:hover {
  cursor: pointer;
  background: #005792;
}

#register, #sign-in {
  align-self: flex-end;
  margin-top: -30px;
  color: rgba(132, 23, 233, 0.788);
  font-weight: 300;
  text-decoration: underline;
}

#register:hover, #sign-in:hover {
  color: rgb(126, 0, 244);
  cursor: pointer;
}

#copyright {
  text-align: center;
  font-weight: 300;
}

/*-----------------
ERROR MESSAGE 
-------------------*/

.error-message {
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 5px;
  background: rgba(255, 0, 0, 0.203);
  font-size: 0.8rem;
  color: rgb(224, 63, 63);
}

.error-message.login {
  margin-top: -30px;
}